.awesome-text {
  margin-bottom: 67px;
  color: #86878b;
}

.container-wraper {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.container-item {
  width: 350px;
  margin: 0 15px;
}

.container-item_pic {
  border: 1px solid #d98943;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 30px;
}

.container-item_img {
  margin-top: 17px;
}

.container-item_title {
  font-size: 20px;
  font-weight: 700px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin-bottom: 16px;
  line-height: 27px;
}
