.axure-container {
  background-image: url(/img/bg/background\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
}

.axure-container::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
}

.axure-title {
  color: #ffffff;
}

.axure-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 57px;
}

.axure-text p::before {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  border-top: 1px solid #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.axure-button {
  display: block;
  border: 1px solid #ffffff;
  width: 135px;
  line-height: 42px;
  text-align: center;
  display: block;
  margin: auto;
  cursor: pointer;
}

.axure-button:hover {
  background-color: #d98943;
  border-style: none;
  line-height: 42px;
  border: 1px solid #d98943;
}

.axure-button a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 20px;
}
