.prising-container {
  background-color: #e5e5e5;
}

.prising-text {
  margin-bottom: 67px;
  color: #86878b;
}

.prising-wraper {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.prising-item {
  width: 340px;
  margin: 0 15px;
}

.pricing-item_list {
  font-family: "Open Sans", "Arial", sans-serif;
}

.pricing-list {
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 51px;
}

.pricing-list_black {
  background-color: #333333;
  color: #ffffff;
}

.pricing-list_tarif {
  font-weight: 700;
  font-size: 20px;
}

.pricing-list_price {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 100px;
}

.pricing-list_time {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 800;
  font-size: 14px;
}

.pricing-list_white {
  background-color: #ffffff;
  font-size: 14px;
  color: #86878b;
  font-weight: 400;
}

.pricing-list_hover {
  background-color: #d98943;
}
