.prising {
  background-color: #e5e5e5;
  padding: 100px 0;
}

.prising-text {
  margin-bottom: 67px;
  color: #86878b;
}

.prising-wraper {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.prising-item {
  width: 340px;
  margin: 0 15px;
  display: block;
  cursor: pointer;
}

.prising-item:hover {
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.pricing-item_list {
  font-family: "Open Sans", "Arial", sans-serif;
}

.pricing-list {
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 51px;
}

.pricing-list_black {
  background-color: #333333;
  color: #ffffff;
}

/* .pricing-list_black:hover {
  background-color: #d98943;
  display: block;
  cursor: pointer;
} */

.pricing-list_tarif {
  font-weight: 700;
  font-size: 20px;
}

.pricing-list_price {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 100px;
}

.pricing-list_time {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 800;
  font-size: 14px;
}

.pricing-list_white {
  background-color: #ffffff;
  font-size: 14px;
  color: #86878b;
  font-weight: 400;
}

@media (max-width: 874px) {
  .prising {
    padding: 50px 0;
  }
  .prising-text {
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .prising-wraper {
    flex-wrap: wrap;
  }
  .prising-item {
    margin-bottom: 30px;
  }
}
