.tabs-container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.tabs-tab {
  margin-right: 118px;
}

.tab-item {
  width: 112px;
  height: 110px;
  background-color: #333333;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}

.tab-item:last-child {
  margin-bottom: 0px;
}

.tab-item:hover {
  background-color: #ec7979;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.tab-item_text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 110px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.tabs-intro {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabs-intro_title {
  text-transform: uppercase;
}

.tabs-into_text {
  color: #86878b;
  margin-bottom: 15px;
}

.tabs-button {
  display: block;
  background-color: #ec7979;
  width: 135px;
  padding: 11px 26px;
  cursor: pointer;
}

.tabs-button:hover {
  background-color: black;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.tabs-button_link {
  color: #fff;
  font-size: 15px;
  font-weight: 600px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
}
